@using JobBoard.Models;

@{
  Layout = "_layout";
}

<h1>Job Openings</h1>

@if (@Model.Count == 0)
{
  <h3>No jobs have been posted yet!</h3>
}

@foreach (Job job in Model)
{
  <div>
    <li><a href='/jobs/@job.Id'>@job.Title</a></li>
    <li>@job.Description</li>
    <li>@job.Contact</li>
    <li>@job.Id</li>
  </div>
  <br>
}

<a href='/jobs/new'><button class="btn btn-success">Add another job</button></a>

<form action="/jobs/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete all jobs</button>
</form>